.keyboard-container {
  width: 100%;
  background-color: rgba(0, 255, 0, 0.5); /* Semi-transparent green background */
  border-radius: 10px 10px 0 0;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 6px 0;
  width: 100%;
}

.keyboard-key {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: #100cdf;
  font-size: 20px;
  margin: 0 3px;
  padding: 12px;
  min-width: 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  text-transform: uppercase;
  font-weight: 500;
}

.keyboard-key:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.key-space {
  flex: 18;
}

.key-backspace, .key-shift, .key-123, .key-return {
  flex: 1.5;
  font-size: 16px;
}

.keyboard-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.keyboard-globe, .keyboard-mic {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 40px;
  cursor: pointer;
  font-size: 16px;
}
